{% load static %}
<!DOCTYPE html><link href="{% static 'bootstrap/css/bootstrap.css' %} " rel="stylesheet" type="text/css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

    <table class="table table-hover table-striped">
        <tr>
            <td>编号</td>
            <td>标题</td>
            <td>作者</td>
            <td>时间</td>
            <td>操作</td>
        </tr>
        {% for i in list %}
            <tr>
                <td>{{ i.id }}</td>
                <td><a href="{% url 'xq' i.id %}">{{ i.title }}</a></td>
                <td>{{ i.autor }}</td>
                <td>{{ i.add_time }}</td>
                <td><a href="{% url 'bianji' i.id %}">编辑</a>   <a href="{% url 'shanchu' i.id%}">删除</a></td>
            </tr>
        {% endfor %}
    </table>
<a class="btn btn-default" href="{% url 'add' %}" role="button">添加</a>
</body>
</html>