{% extends 'common/basc_houtai.html' %}
{% load static %}
{% block content %}
     <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">商品管理</a>
        <a href="">商品列表</a>
      </span>
    </div>
    <div class="x-body">
      <table class="layui-table">
        <thead>
          <tr>
		    <th>商品id</th>
            <th>商品编号</th>
            <th>商品名称</th>
            <th>商品类型</th>
            <th>商品图片</th>
            <th>商品原价</th>
            <th>商品现价</th>
            <th>商品库存</th>
			<th>商品存储方法</th>
            <th>操作</th>
			</tr>
        </thead>
        <tbody>
            {% for good_list in list %}
              <tr>
                <td>{{ good_list.id}}</td>
                <td>{{ good_list.goods_num}}</td>
                <td>{{ good_list.goods_name}}</td>
                <td>{{ good_list.type_name}}</td>
                <td><img src="{% static good_list.goods_pic %}"></td>
                <td>{{ good_list.goods_oprice}}</td>
                <td>{{ good_list.goods_xprice}}</td>
                <td>{{ good_list.goods_count}}</td>
                <td>{{ good_list.goods_method}}</td>
                <td >
                    <a href="{% url 'goods:goods_caozuo' good_list.id %}">编辑</a>
                    <a href="{% url 'goods:goods_del' good_list.id%}">删除</a>
                </td>
                  {% empty %}
                  <tr>
                    <td colspan="10" align="center">暂无商品</td>
                  </tr>
          </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}