{% extends 'common/basc_houtai.html' %}
{% load static %}
{% block content %}
     <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="#">商品管理</a>
        <a href="{% url 'manager:typeadd' %}">增加类型</a>
      </span>
    </div>
    <div class="x-body">
      <table class="layui-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>分类名</th>
			<th>排序</th>
            <th>操作</th>
        </thead>
        <tbody>
          <tr>
          {% for i in list %}
                <td>{{ i.type_id }}</td>
                <td>{{ i.type_name }}</td>
                <td>{{ i.type_sort }}</td>
                <td><a href="{% url 'manager:typebj' i.type_id%}">编辑</a> <a href="{% url 'manager:type_del' i.type_id %}">删除</a></td>
{#              {% empty %}#}
{#              <tr>#}
{#                <td colspan="4">暂无商品分类，请尽快添加！！</td>#}
{#              </tr>#}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}