{% load static %}
 <link rel="stylesheet" href="{% static 'css/footer.css' %}">
<div class="footer">
    <div class="tu-footer">
        <img src="{% static 'images/1_10.gif' %}" alt="">
    </div>
    <div class="jianjie">
        <table id="table">
            <tr class="td1">
               <td><a href="#" >购物指南</a></td>
               <td><a href="#" >配送说明</a></td>
               <td><a href="#" >售后服务</a></td>
               <td><a href="#" >企业服务</a></td>
            </tr>
             <tr class="td2">
               <td><a href="#" >新用户注册</a></td>
               <td><a href="#" >运费说明</a></td>
               <td><a href="#" >退换货规则</a></td>
               <td><a href="#" >企业订购</a></td>
            </tr>
             <tr class="td3">
              <td><a href="#" >在线下单</a></td>
              <td><a href="#" >运费方式</a></td>
              <td><a href="#" >服务保障承诺</a></td>
              <td><a href="#" >公司简介</a></td>
            </tr>
             <tr class="td4">
               <td><a href="#" >支付方式</a></td>
               <td><a href="#" >发票说明</a></td>
               <td><a href="#" >验货与签收</a></td>
               <td><a href="#" >定制专区</a></td>
            </tr>
        </table>
    </div>
    <div class="tu-footer">
        <img src="{% static 'images/1_13.gif' %}" alt="">
    </div>
</div>